.homepage {
  background: linear-gradient(135deg, #58595f 0%, #000000 100%);
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .top-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
