.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
  overflow-y: scroll;
  max-height: 700px;
  padding: 10px;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    // background: #f1f1f1;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;

    &:hover {
      background: #555;
    }
  }
}

.no-products {
  color: white;
  display: flex;
  justify-content: center;
  p {
    color: white;
  }
}
