.products-page {
  .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    max-height: 700px;
    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 6px;

      &:hover {
        background: #555;
      }
    }
  }
}
